@model restaurante.Models.Pedido

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPedido" />
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMesa" class="control-label"></label>
                <select asp-for="IdMesa" class="form-control" asp-items="ViewBag.IdMesa"></select>
                <span asp-validation-for="IdMesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHora" class="control-label"></label>
                <input asp-for="FechaHora" class="form-control" />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control">
                    <option value="pendiente">Pendiente</option>
                    <option value="en_preparacion">En Preparación</option>
                    <option value="listo">Listo</option>
                    <option value="entregado">Entregado</option>
                    <option value="cancelado">Cancelado</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodoPago" class="control-label"></label>
                <select asp-for="MetodoPago" class="form-control">
                    <option value="efectivo">Efectivo</option>
                    <option value="tarjeta">Tarjeta</option>
                    <option value="otro">Otro</option>
                </select>
                <span asp-validation-for="MetodoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
